@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Google Sans';
    src: local('Google Sans'), url(./Fonts/GoogleSans-Regular_0.ttf) format('truetype');
}

body {
    font-family: 'Google Sans';
}